<!--<launch>-->
    <!--&lt;!&ndash; Launch Gazebo &ndash;&gt;-->
    <!--<include file="$(find scara_v2_full_gazebo)/launch/scara_and_rt_world.launch" />-->
    <!--&lt;!&ndash; ros_control seven dof arm launch file &ndash;&gt;-->
    <!--<include file="$(find seven_dof_arm_gazebo)/launch/seven_dof_arm_gazebo_states.launch" />-->
    <!--&lt;!&ndash; ros_control position control dof arm launch file &ndash;&gt;-->
    <!--&lt;!&ndash;<include file="$(find seven_dof_arm_gazebo)/launch/seven_dof_-->
    <!--arm_gazebo_position.launch" /> &ndash;&gt;-->
    <!--&lt;!&ndash; ros_control trajectory control dof arm launch file &ndash;&gt;-->
    <!--<include file="$(find seven_dof_arm_gazebo)/launch/seven_dof_arm_-->
<!--trajectory_controller.launch" />-->
    <!--&lt;!&ndash; moveit launch file &ndash;&gt;-->
    <!--<include file="$(find scara_v2_full_)/launch/moveit_planning_execution.launch" />-->
<!--</launch>-->