<?xml version="1.0"?>
<robot name ="scara1">

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <material name="blue">
        <color rgba="0 0 .8 1"/>
    </material>
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>



    <link name = "world"></link>

    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="file:///home/viktor/catkin_ws/src/scara_urdf_testing/urdf/SCARA/gestell.stl"></mesh>
            </geometry>
            <origin xyz="0 0 0"/>
            <material name="blue"/>
        </visual>
    </link>
    <joint name="baseLink_to_world" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <axis xyz = "1 0 0"></axis>
    </joint>


    <link name="truout">
        <visual>
            <geometry>
                <mesh filename="file:///home/viktor/catkin_ws/src/scara_urdf_testing/urdf/SCARA/gestell.stl"></mesh>
            </geometry>
            <origin xyz="0 0 0"/>
            <material name="blue"/>
        </visual>
    </link>





</robot>