
<launch>
    <param name = "robot_description" command="$(find xacro)/xacro.py '$(find urdf_testing)/urdf/my_test.xacro'"></param>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name = "use_gui" value="true"></param>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ></node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_testing)/launch/test_description.rviz"></node>



</launch>